/*Cor de fundo da página*/
body{
    background-color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.icone:hover{
    cursor: pointer;
}

/* Barra no topo */
.barra-topo{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 54px;
    border-bottom: solid thin #FAFAFA;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.icones-esquerda{
    display: flex;
    align-items: center;
}

.icones-esquerda .icone{
    height: 22px;
    width: 22px;
}

.icones-esquerda img{
    width: 103px;
    height: 29px;
    margin-top: 8px;
}

.separador-vertical{
    background-color: #EBEDEF;
    width: 1px;
    height: 22px;
    margin: 0 10px 0 10px;
}

.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtBusca{
    background-color: #FAFAFA;
    color: red;
    font-size:12px;
    font-weight: 400;
    border: thin solid #DBDBDB;
    height: 28px;
    width: 215px;
    border-radius: 3px;
    text-align: center;
    padding: 0;
}

.icones-direita .icone{
    height: 22px;
    width: 22px;
    margin-right: 18px;
}

/*---------------------------------*/
/*Corpo da página*/
.corpo{
    display: flex;
    margin: 90px auto 40px auto;
    margin-left: calc(50vw - 942px/2);
}

/*Caixa dos stories*/

.caixa-stories{
    height: 118px;
    width: 614px;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: solid thin #DBDBDB;
    display: flex;
    overflow: hidden;
    position: relative;
}

.seta{
    color: #FFFFFF;
    height: 26px;
    width: 26px;
    margin-top: 46px;
    margin-left: 94%;
    position: absolute;
    border-radius:50%;
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.caixa-stories img{
    height: 56px;
    width: 56px;
    border-radius: 28px;
    justify-content: center;
}

.story{
    justify-content: center;
    height: 86px;
    width: 66px;
    margin: 18px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.background{
    background-image: url(arquivos/stories_background.jpg);
    background-size: 66px;
    border-radius: 33px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background img{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}


.story p{
    font-size: 12px;
    margin-top: 6px;
}

.story img:hover{
    cursor: pointer;
}

/*Coluna de posts*/
.post{
    height: auto;
    width: 612px;
    margin: 24px 0 36px 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: solid thin #DBDBDB;
}

.header-post{
    display: flex;
    align-items: center;
    height: 61px;
    width: 612px;
}

.header-post p{
    font-size: 14px;
}

.header-post img:hover{
    cursor: pointer;
}

.post img{
    height: 612px;
    width: 612px;
}

.post-video{
    height: auto;
    width: 612px;
    margin: 24px 0 36px 0;
    border-radius: 3px;
    background-color: #FFFFFF;
    border: solid thin #DBDBDB;
}

.post-video video{
    width: inherit;
}

.header-post img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 15px 15px 14px 17px;
}

.header-post p{
    width: 109px;
}

.header-post .fim{
    margin-left: 408px;
}

.footer-icones .icone{
    height: 22px;
    width: 22px;
    margin: 13px 0 0 10px;
}

.footer-icones .fim{
    margin-left: 75%;
}

.curtidas{
    display: flex;
}

.curtidas p{
    font-size: 14px;
    font-weight: 300;
    margin-top: 12px;
}

.curtidas img{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 7px 5px 10px 10px;
}

.curtidas strong:hover{
    text-decoration: underline;
}

.curtidas img:hover{
    cursor: pointer;
}

/*------------COMENTARIOS-----------------*/

.comentarios p{
    margin-left: 9px;
    width: 600px;
    margin-bottom: 12px;
    font-size: 14px;
}

.comentarios strong{
    margin-right: 5px;
}

.comentario .icone{
    height: 22px;
    width: 22px;
    margin-right: 25px;
}

.comentar{
    margin-top: 15px;
    border-top: solid thin #DBDBDB;
    padding: 12px 17px;
    display: flex;
    align-items: center;
}

.comentario{
    display: flex;
}


.comentar .Comment{
    border: none;
    font-size: 14px;
    width: 400px;
    margin: 0 10px;
}

.comentar .icone{
    height: 22px;
    width: 22px;
}

.comentar .publicar{
    background-color: transparent;
    margin-left: 8vw;
    border: none;
    color: #B2DFFC;
}

.publicar:hover{
    transition: 300ms;
    color: #0095F6;
    cursor: pointer;
}


/*---------------------------------*/
/*Barra lateral*/
.side-bar{
    height: 200px;
    width: 293px;
    position: fixed;
    right: calc(50vw - 942px/2);
}

.side-bar img:hover{
    cursor: pointer;
}

.sublinhado:hover{
    text-decoration: underline;
}

/*Icone e @ do usuário*/
.icone-pessoal{
    display: flex;
}

.icone-pessoal img{
    height: 56px;
    width: 56px;
    margin-bottom: 24px;
    margin-right: 17px;
    border-radius: 28px;
}

.arroba-pessoal{
    font-weight: 300;
    font-size: 14px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Cor e peso dos arrobas*/
.strong{
    font-weight: 500;
    color: #262626;
    margin-bottom: 6px;
}

/*Cor e peso dos nomes e "Segue você"*/
.light{
    color: #8E8E8E;
    font-size: 12px;
}

/*Sugestões*/
.titulo-sugestoes{
    display: flex;
    justify-content: space-between;
    height: 15px;
    font-size: 12px;
}

/*---------------------------------*/
/*Peso das fontes*/
.negrito{
    font-weight: 500;
}

.normal{
    font-weight: 400;
}

.pequena{
    font-weight: 300;
}
/*---------------------------------*/

/*Divs com cada uma das sugestoes*/
.arroba{
    display: flex;
    margin-top: 17px;
    height: 32px;
}

.arroba p{
    font-size: 12px;
}

.arroba img{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.arroba-sugestoes{
    font-size: 14px;
    margin-left: 11px;
    width: 126px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seguir{
    display: flex;
    align-items: center;
    margin-left: 87px;
    color: #139EF2;
    font-size: 12px;
}

.texto{
    margin-top: 33px;
    font-size: 11px;
}
.texto p{
    margin-top: 18px;
}

.barra-inferior{
    display:none;
}

@media (max-width: 935px)
{
    .side-bar{
        display: none;
    }
    .corpo{
        margin-left:0;
        justify-content: center;
    }
    
}
@media (max-width: 614px)
{
    
    /*---------BARRA TOPO------------*/
    .barra-topo{
        justify-content: space-between;
        border: solid thin #DBDBDB;
    }
    .icones-esquerda{
        margin-left: 20px;
    }
    
    .icones-esquerda img{
        position: absolute;
        left: 41%;
    }
    
    .separador-vertical{
        display: none;
    }
    

    .txtBusca{
        display: none;
    }
    
    .barra-topo .out{
        display: none;
    }

     .stay{
        display: flex;
    }
    
    .corpo{
        margin-top: 54px;
    }
    /*------- CAIXA DE STORIES ----------*/
    .caixa-stories{
        margin-bottom: 0;
        width: 100vw;
        background-color: transparent;
        border: transparent;
    }

    /*------------ POSTS ---------------*/
    .header-post .fim{
        margin-left:63vw;
    }
    .post{
        margin-top: 0;
        width: 100vw;
    }

    .post .feed{
        width: 100vw;
        height: 100vw;
    }
    .footer-icones .fim{
        margin-left: 73vw;
    }

    .barra-inferior{
        background-color: #FFFFFF;
        border-top: solid thin #DBDBDB;
        display: flex;
        position: fixed;
        bottom: 0;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 54px;
        z-index: 1;
    }

    .barra-inferior .icone{
        height: 22px;
        width: 22px;
    }
    
}

@media (max-width: 590px){
    .post{
        margin-top: 0;
        width: 100vw;
        height: auto;
    }
    .post-video{
        width: 100vw;
        height: auto;
    }
    .header-post .fim{
        margin-left:60vw;
    }
    .footer-icones .fim{
        margin-left: 70vw;
    }
}

@media (max-width: 490px){
    .post{
        margin-top: 0;
        width: 100vw;
    }
    .header-post .fim{
        margin-left:50vw;
    }
    .footer-icones .fim{
        margin-left: 60vw;
    }
}